#ceu-header {
  padding-top: 40px;
  margin-bottom: 0px;
  background-image: linear-gradient(bottom, rgb(247,247,247) 18%, rgb(255,255,255) 68%);
  background-image: -o-linear-gradient(bottom, rgb(247,247,247) 18%, rgb(255,255,255) 68%);
  background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 18%, rgb(255,255,255) 68%);
  background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 18%, rgb(255,255,255) 68%);
  background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 18%, rgb(255,255,255) 68%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.18, rgb(247,247,247)),
    color-stop(0.68, rgb(255,255,255))
  );
  background-color: #F7F7F7;
}

body {
  background-image: url('img/subtle_dots_@2X.png');
  background-repeat: repeat;
}

#ceu-header .navbar .nav{
  margin-left: 5%;
}

#ceu-cover{
  text-align: center;
}

#ceu-cover-logo p {
  padding-top: 5px;
}

#ceu-actions {
  margin-top: 20px;
  padding-bottom: 20px;
}

#ceu-actions .btn-primary {
  font-size: 20px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 170, 255, 1);
  -moz-box-shadow:     1px 1px 20px rgba(0, 170, 255, 1);
  box-shadow:         1px 1px 20px rgba(0, 170, 255, 1);
}

#ceu-walkthrough .hero-unit {
  padding-bottom: 28px;
}

.ceu-hr {
  height: 1px;
  margin: 10px 0px 30px 0px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}

.container-fluid {
  margin-top: 60px;
}


.ceu-text {
  color: #CC0000;
}

.ceu-just {
    text-align:justify;
    text-justify:inter-word;
    padding:10px;
}
