/* General rules */
body, html{ 
    width: 100%;
    height: 94.9%;
    overflow-x: hidden;
}

body > div.container-fluid {
    height: 98%;
}

div.container-fluid div.row-fluid, #ceu-tutorial, #ceu-ide {
    height: 100%;
}

textarea {
    border-radius: 0px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    resize: none;
}

#ceu-title, #ceu-footer {
    background-color: #F8F8F8;
}

#ceu-slide, #ceu-results, #ceu-code, #ceu-input {
    position: absolute;
  font-size: 100%;  
}

/* Left column */
#ceu-tutorial {
    border-right: 2px solid #DDD;
    border-left: 2px solid #EEE;
}

#ceu-slide {
    top: 0px;
    left: 0px;
    bottom: 35%;
    right: 45%;
}

#ceu-slide  div.ceu-textbar {
    line-height: 30px;
}

#ceu-slide  div.ceu-textbar  img{
    height: 30px;
  margin-right: 10px;
  margin-top: -6px;
}

#ceu-slide div.ceu-textbar span#ceu-font-controls   {
  font-size: 14px;
  position: absolute;
  left: 40%;
}

#ceu-slide div.ceu-textbar  #ceu-slide-number {
    font-size: 30px;
    font-weight: bold;
    padding: 0px 10px;
}

#ceu-slide div.ceu-textbar span.pull-right   {
    margin-right: 20px;
}

#ceu-slide div.ceu-textbar span.pull-right  .btn {
    margin-top: -10px;
}

#ceu-slide div.relative {
    width: 100%;
    height: 100%;
}

#ceu-slide-text {
    position: absolute;
    top: 41px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow-y: auto;
    padding: 10px;
}

#ceu-results     {
    top: 65%;
    left: 0px;
    bottom: 0px;
    right: 45%;
    border-top: 2px solid #EEE;
}

#ceu-results div.relative {
    width: 100%;
    height: 100%;
}

#ceu-results-text {
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
    padding: 10px;
}

/* Right column */
#ceu-ide {
    margin-left: 0px;
    border-right: 2px solid #CCC;
}

#ceu-code {
    top: 0px;
    left: 55%;
    bottom: 35%;
    right: 0px;
    border-left: 1px solid #EEE;
}

#ceu-code div.relative {
    width: 100%;
    height: 100%;
}

#ceu-code .ceu-textbar {
    position: relative;
    line-height: 30px;
}

#ceu-code .ceu-textbar  div.pull-right{
    margin-right: 15px;
}

#ceu-code .ceu-textbar .btn-primary {
    margin-left: 5px;
}

#ceu-code #ceu-code-container {
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
}

#ceu-code #ceu-code-container textarea {
    margin: 0px;
    border: none;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "Courier New", "Ubuntu";
    font-size: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

#ceu-input     {
    top: 65%;
    left: 55%;
    bottom: 0px;
    right: 0px;
    border-left: 1px solid #EEE;
    border-top: 2px solid #EEE;
}

#ceu-input div.relative {
    width: 100%;
    height: 100%;
}

#ceu-input #ceu-input-text {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#ceu-input #ceu-input-text textarea {
    margin: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
    padding-bottom: 0px;
    font-family: "Courier New", "Ubuntu";
}

/* Céu specific and utility classes */
.ceu-textbar {
    width: 100%;
    background-color: #F8F8F8;
    color: #CC0000;
    vertical-align: middle;
    font-size: 14px;
    padding: 5px 5px;
    border-bottom: 1px solid #EEE;
}

.ceu-text {
    color: #CC0000;
}

.relative {
    position: relative;
}
